@use '../../scss/' as *;

.registersection {
  margin: 9rem auto;
  @include flex(flex-start, center);
  height: 60vh;
}

.mt9 {
  margin-top: 9rem;
}

.btncenter {
  display: block;
  text-align: center;
}
