@use '../../scss/' as *;

.footer {
  position: relative;
  padding: 0 2rem;
  bottom: 0;
  left: 0;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    max-width: 1000px;

    &__logo {
      @include flex(center, center);
      margin-bottom: 1rem;
    }
  }
}
