@use '../../scss/' as *;

.schedule__section {
  margin: 14rem auto 4rem;
  width: 65%;
  min-height: 61vh;
}

.date__container {
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning {
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
  color: $main-color;
  font-weight: 500;
}
